<div class="row">

    <% include ../content/_sidebar %>

    <% var form = formFor(post, {
        action: pathTo.editGroupContentEntry(group, post),
        remote: true,
        id: 'content-form',
        class: 'content-form'
    }) %>

    <% include _form %>

    <%- formTagEnd() %>

</div>
