<% if (widget.settings.title) { %>
    <% if (widget.settings.anchor) { %>
        <%- linkTo('', '', {name: titleToAnchor(widget.settings.title)}) %>
    <% } %>
    <h2><%- widget.settings && widget.settings.title || 'Static content' %></h2>
<% } %>

<div class="inline-edit" data-html="<%- canEdit ? escape(widget.settings.content || '') : '' %>">
    <%- widget.settings && widget.settings.content || t('content.empty') %>
</div>
