<li class="nav-header"><%- t('group.headers.moduleSettings') %></li>
<% modulesEnabled.forEach(function(inst) { %>
    <% if(!inst.module || !inst.module.info.settings) { return; } %>
    <%- li('module-' + inst.module.info.name) %>
        <%- linkTo(icon(inst.module.info.icon) + ' ' + inst.module.info.title, pathTo.setupModule(inst.module.info.name)
) %>
    <%- liEnd %>
<% }) %>