<div class="row">
    <%- include ../content/_sidebar %>

    <div class="span10">
        <div class="module">
            <div class="content">
                <h3><%= t('stream.edit') %></h3>
                <hr/>

                <%- formTagBegin({
                    action: pathTo.groupStream(group, stream),
                    method: 'PUT',
                    id: 'stream-form'
                }) %>
                    <% include _form %>
                <%- formTagEnd() %>
            </div>
        </div>
    </div>
</div>
