<div class="row-fluid">
    <%- include ../content/_sidebar %>

    <div class="span10">
        <div class="module">
            <div class="content">
                <h3><%= t('stream.add') %></h3>
                <hr/>

                <%- formTagBegin({
                    action: pathTo.streams(),
                    remote: true,
                    id: 'stream-form'
                }) %>
                    <% include _form %>
                <%- formTagEnd() %>
            </div>
        </div>
    </div>
</div>
