<p><%- __('Click to add a widget to the page') %></p>

<ul class="unstyled new-widgets-list">
  <% request.widgets.forEach(function (w) { %>
    <li>
        <span class="widget">
            <i class="<%= w.info.icon %>"></i> 
            <a href="#<%= w.module + '/' + w.name %>"><%= __(w.info.title) %></a>
        </span>
    </li>
  <% }) %>
</ul>
