<div class="edit-console" id="editConsole">
    <div>
        <div class="console-header">
            <div class="pull-right close">
                <i class="icon-remove"></i>
            </div>
            <%- __('Edit console') %>
        </div>
        <div class="accordion" id="accordion2">
            <div class="accordion-group">
              <div class="accordion-heading">
                <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion2" href="#collapseOne" id="contentTab">
                  <%- __('Widgets') %>
                </a>
              </div>
              <div id="collapseOne" class="accordion-body collapse in">
                <div class="accordion-inner" id="edit-console-widgets">
                    <% include _editconsolewidgets %>
                </div>
              </div>
            </div>
            <div class="accordion-group">
              <div class="accordion-heading">
                <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion2" href="#collapseTwo" id="columnsTab">
                  <%- __('Layout') %>
                </a>
              </div>
              <div id="collapseTwo" class="accordion-body collapse">
                <div class="accordion-inner" id="edit-console-layouts">
                  <% include _editconsolelayouts %>
                </div>
              </div>
            </div>
            <div class="accordion-group">
              <div class="accordion-heading">
                <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion2" href="#collapseThree" id="designTab">
                  <%- __('Design') %>
                </a>
              </div>
              <div id="collapseThree" class="accordion-body collapse">
                  <% include _editconsolestyle %>
              </div>
            </div>
          </div>
    </div>
</div>
