<div class="span2">
  <div class="module">
    <ul class="nav nav-list">
      <li class="nav-header"><%- __('Actions') %></li>
      <li<%- pageName === 'index' ? ' class="active"' : '' %>>
        <%- linkTo('<i class="icon-cogs"></i> ' + __('Manage modules'), pathTo.modules) %>
      </li>
    </ul>
  </div>
</div>
