
<div class="row">

    <%- partial('modules/sidebar', { locals: {pageName: 'manage'}}) %>

    <div class="span10">
        <div class="module">
            <%- partial('modules/table') %>
        </div>
    </div>

</div>

<script type="text/javascript">
    var editor = null;

    $('#modal-container form').live('ajax:success', function() {
        //close the modal
        $(this).modal('hide');
    });

    $('#modal-container').live('show', function() {
        editor = ace.edit("contract");
        //editor.setTheme("/javascripts/ace/theme/monokai");
        //editor.getSession().setMode("/javascripts/ace/mode/javascript");
    });

    $('#modal-container form button').live('click', function() {
        $('#contractValue').val(editor.getValue());
    });
</script>