
<!-- primary navigation -->
<nav class="navbar navbar-inverse">
    <% var breadcrumbPages = breadcrumb(page); %>

    <ul class="nav navbar-nav">
        <!-- level 0 and 1 pages are displayed here -->
        <% group.pagesCache.forEach(function (p) { %>
            <% if (/true/.test(p.hideFromNavigation)) return; %>
                <% if ((p.type === 'page' || !p.type) && (p.level === 0 || p.level === 1)) { %>
                <li class="<%- p.id == page.id ? 'active' : '' %>">
                    <%- linkTo(p.title, '//' + p.url) %>
                </li>
            <% } %>
        <% }); %>
    </ul>
</nav>

<!-- show breadcrumb if we have pages with level > 2 -->
<% if (breadcrumbPages.length > 1) { %>
    <ol class="breadcrumb">
        <% breadcrumbPages.forEach(function (p, i) { %>
            <% if(/true/.test(p.hideFromNavigation)) return; %>
            <li<%- p.selected ? ' class="active"':''%>>
                <%- linkTo(p.title, '//' + p.url) %>
            </li>
        <% }); %>
    </ol>
<% } %>

