<%- widgetTitle() %>

<div class="inline-edit html" data-html=<%- user && user.canEdit ? escape(widget.settings.content || '""') : '' %>><%- widget.settings && widget.settings.content || 'HTML Content not set. Double-click to edit.' %></div>
